.verification-details {
  font-family: "Poppins", sans-serif;
  color: #1f3327;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  max-height: 85vh;
  overflow-y: auto;
}

.verification-details h3 {
  color: #5d1227;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  border-left: 4px solid #c76953;
  padding-left: 8px;
}

.detail-section {
  margin-bottom: 25px;
  background: #f8e4eb;
  padding: 15px 20px;
  border-radius: 15px;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-item label {
  font-weight: 500;
  color: #5d1227;
}

.detail-item p {
  color: #1f3327;
  margin: 0;
  text-align: right;
}

.document-link {
  display: inline-block;
  background-color: #c76953;
  color: #fff;
  padding: 8px 14px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s ease;
}

.document-link:hover {
  background-color: #5d1227;
}

.proof-img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid #ecc2b0;
}


.btn-view-details {
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
}

.btn-view-details:hover {
  background-color: #002d5a;
}